h1 {
    font-family: Inter, san-serif;
    color: #2b283a;
}

.add-ingrediant-form {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-wrap: nowrap;
    gap:12px;
}

.add-ingrediant-form > input {
    border-radius: 6px;
    border: 1px solid #d1d5db;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rbba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-ingrediant-form > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #131413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.add-ingrediant-form > button::before {
    content: "+";
    margin-right: 5px;
}

main {
    padding: 30px 30px 10px;
}

main ul {
    text-align: left;
}

